node-red.txt
[
    {
        "id": "3440dea0d96aa5d1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "682ae7496451eff2",
        "type": "mqtt in",
        "z": "3440dea0d96aa5d1",
        "name": "",
        "topic": "esp32/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0de5359e2c4bd326",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "88e7c66aa77b7ce1",
                "9ac5606ebe3b10c0",
                "cdce2f0d6f848a97"
            ]
        ]
    },
    {
        "id": "ef8da156adfaa9be",
        "type": "ui_gauge",
        "z": "3440dea0d96aa5d1",
        "name": "Kosteus",
        "group": "b7a76b2f42bf5882",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "88e7c66aa77b7ce1",
        "type": "function",
        "z": "3440dea0d96aa5d1",
        "name": "temp function",
        "func": "var temp = msg.payload.temperature;\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 140,
        "wires": [
            [
                "857d5604b449ca66",
                "bcd475dca51ffacb"
            ]
        ]
    },
    {
        "id": "9ac5606ebe3b10c0",
        "type": "function",
        "z": "3440dea0d96aa5d1",
        "name": "hum function",
        "func": "var hum = msg.payload.humidity;\nmsg.payload = hum;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "ef8da156adfaa9be",
                "9899750581d96aec"
            ]
        ]
    },
    {
        "id": "857d5604b449ca66",
        "type": "ui_chart",
        "z": "3440dea0d96aa5d1",
        "name": "Lämpötila",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bcd475dca51ffacb",
        "type": "influxdb out",
        "z": "3440dea0d96aa5d1",
        "influxdb": "1d1129a8edd7ab2d",
        "name": "temp",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "67e6f77e194e6d0f",
        "type": "mqtt out",
        "z": "3440dea0d96aa5d1",
        "name": "",
        "topic": "esp32/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0de5359e2c4bd326",
        "x": 1280,
        "y": 520,
        "wires": []
    },
    {
        "id": "15694266900fff19",
        "type": "ui_switch",
        "z": "3440dea0d96aa5d1",
        "name": "LED",
        "label": "",
        "tooltip": "OFF / ON",
        "group": "8991eea5e1382d03",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 830,
        "y": 540,
        "wires": [
            [
                "67e6f77e194e6d0f"
            ]
        ]
    },
    {
        "id": "397e911626f72581",
        "type": "wiotp out",
        "z": "3440dea0d96aa5d1",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "9899750581d96aec",
        "type": "influxdb out",
        "z": "3440dea0d96aa5d1",
        "influxdb": "1d1129a8edd7ab2d",
        "name": "hum",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba0373a10b55f595",
        "type": "ui_slider",
        "z": "3440dea0d96aa5d1",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "99a28263b3a80406",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 580,
        "wires": [
            [
                "2324891486209276"
            ]
        ]
    },
    {
        "id": "cdce2f0d6f848a97",
        "type": "debug",
        "z": "3440dea0d96aa5d1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "2324891486209276",
        "type": "mqtt out",
        "z": "3440dea0d96aa5d1",
        "name": "",
        "topic": "esp32/servo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0de5359e2c4bd326",
        "x": 1290,
        "y": 600,
        "wires": []
    },
    {
        "id": "5bb7c93e04d2d75d",
        "type": "mqtt in",
        "z": "3440dea0d96aa5d1",
        "name": "",
        "topic": "esp32/ultrasonic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0de5359e2c4bd326",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 700,
        "wires": [
            [
                "c41b23607a4f2551"
            ]
        ]
    },
    {
        "id": "c41b23607a4f2551",
        "type": "debug",
        "z": "3440dea0d96aa5d1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 700,
        "wires": []
    },
    {
        "id": "76f7b36bd872917a",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "3440dea0d96aa5d1",
        "name": "whatsapp",
        "account": "",
        "text": "payload",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 860,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f33a590c10684331",
        "type": "mqtt in",
        "z": "3440dea0d96aa5d1",
        "name": "",
        "topic": "esp32/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0de5359e2c4bd326",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 620,
        "wires": [
            [
                "2628e138fc095e9a"
            ]
        ]
    },
    {
        "id": "2628e138fc095e9a",
        "type": "debug",
        "z": "3440dea0d96aa5d1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "0de5359e2c4bd326",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b7a76b2f42bf5882",
        "type": "ui_group",
        "name": "Kosteus",
        "tab": "2db41e76005e7cb1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Lämpötila",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d1129a8edd7ab2d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "temp",
        "name": "Temperature",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "8991eea5e1382d03",
        "type": "ui_group",
        "name": "LED",
        "tab": "df94e90daeb4b359",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "99a28263b3a80406",
        "type": "ui_group",
        "name": "Servo",
        "tab": "05f69fb09d722465",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2db41e76005e7cb1",
        "type": "ui_tab",
        "name": "Kosteus",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Lämpötila",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "df94e90daeb4b359",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "05f69fb09d722465",
        "type": "ui_tab",
        "name": "Servo",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
